.section-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.event-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-button {
  background-color: #ee642ed4;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #f95412d4;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.event-card {
  background-color: #f4f1eb;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.future-event-image {
  width: 80%;
  height: 160px;
  object-fit: cover;
}

.event-details {
  padding: 20px;
}

.event-date,
.event-name,
.event-price {
  margin: 10px 0;
  font-size: 1em;
}

.event-description {
  text-align: left;
}

.show-more-text {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
}

.show-more-text.show-less {
  color: #ff0000;
}

.show-more-events {
  display: block;
  background-color: #358a38b5;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.show-more-events:hover {
  background-color: #45a049;
}

.event-add-to-cart {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ff5c5c;
  border: none;
  border-radius: 50px;
  overflow: hidden;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.event-add-to-cart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.event-add-to-cart:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.event-add-to-cart span {
  position: relative;
  z-index: 2;
}

.event-add-to-cart:hover {
  background-color: #f03265;
}
