/* Filter Component */
.categoryButton {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.categoryButton:hover {
  background-color: #000;
  color: #fff;
}

.categoryButtonSelected {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
}

/* AllCategories Component */
.all-categories-container {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 30px;
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.all-categories-header {
  font-size: 2em;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}

.categories-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

/* Media Queries for Responsiveness */

/* iPad */
@media (max-width: 768px) {
  .categoryButton,
  .categoryButtonSelected {
    padding: 8px 16px;
    font-size: 0.9em;
    margin: 5px;
  }

  .all-categories-container {
    padding: 20px;
    margin: 30px auto;
  }

  .all-categories-header {
    font-size: 1.8em;
    margin-bottom: 15px;
  }

  .categories-list {
    gap: 8px;
  }
}

/* iPhone */
@media (max-width: 480px) {
  .categoryButton,
  .categoryButtonSelected {
    padding: 6px 12px;
    font-size: 0.8em;
    margin: 5px;
  }

  .all-categories-container {
    padding: 15px;
    margin: 20px auto;
  }

  .all-categories-header {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .categories-list {
    gap: 5px;
  }
}
