/* Default Styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #aa9174;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Ensure space between logos */
}

.logoBC,
.logoGC {
  height: 80px; /* Adjusted height */
  width: auto;
  transition: transform 0.3s ease;
}

.logoBC:hover,
.logoGC:hover {
  transform: scale(1.1);
}

.nav {
  display: flex;
  gap: 30px;
  padding-right: 30px;
  flex-wrap: wrap;
}

.nav-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  border-radius: 10px;
  background-color: #d4ccb9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.nav-link:hover {
  color: white;
  background-color: rgb(55, 54, 54);
  border-radius: 10px;
  transform: translateY(-3px);
}

.header.hide-logo .logo {
  display: none;
}

.dropdown-membership {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown-membership-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
}

.dropdown-membership-item {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  transition: background-color 0.3s ease;
}

.dropdown-membership-item:hover {
  background-color: #d4ccb9;
}

/* Media Queries for Responsiveness */

/* iPad */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .logo-container {
    justify-content: center;
  }

  .logo-link {
    margin-right: 5px; /* Adjusted margin for spacing */
  }

  .logoGC,
  .logoBC {
    height: 60px; /* Adjusted height for iPad */
  }

  .nav {
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    gap: 10px;
    padding-right: 0;
    align-items: flex-start;
    justify-content: center;
  }

  .nav-link {
    text-align: center;
    padding: 10px;
    font-size: 18px; /* Slightly larger font for better readability */
    white-space: nowrap;
  }
}

/* iPhone */
@media (max-width: 480px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .logo-container {
    justify-content: center;
  }

  .logo-link {
    margin-right: 5px; /* Adjusted margin for spacing */
  }

  .logoGC,
  .logoBC {
    height: 50px; /* Adjusted height for iPhone */
  }

  .nav {
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    gap: 10px;
    padding-right: 0;
    align-items: flex-start;
    justify-content: center;
  }

  .nav-link {
    text-align: center;
    padding: 12px;
    font-size: 16px; /* Slightly larger font for better readability */
    border-radius: 8px; /* Slightly more rounded for touch-friendly design */
    white-space: nowrap;
  }
  .nav-link-checkout {
    display: flex;
  }

  .dropdown-membership-menu {
    width: 100%;
    left: 0;
  }

  .dropdown-membership-item {
    padding: 10px;
  }
}
