.home-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #d4ccb9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-logo {
  height: 100px;
  width: auto;
  padding-left: 40px;
}

body {
  background-color: #e2c9a9;
}
